body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 48px;
  color: #38bdf8;
}

p {
  font-size: 20px;
  color: #cbd5e1;
}
