body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 48px;
  color: #38bdf8;
}

p {
  font-size: 20px;
  color: #cbd5e1;
}

nav {
  background-color: #1e293b;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #38bdf8;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 120px 20px;
}

/*證照*/
.award-photo {
  max-width: 480px;   /* ← 控制最大寬度，建議 400~600 */
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
